@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<ExpenseApp.Models.DB.Account>

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title { Account List }

@section Header {
  <h2>Accounts</h2>
}

<p class="error-label">
  @if (null != ViewBag.Message)
  {
    @ViewBag.Message
  }
</p>

<p>
  <a class="button-primary"
     asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr id="@item.Slug">
        <td>@item.Name</td>
        <td>
          @Html.ActionLink("Edit", "Edit", "Admin", new
          {
            slug = item.Slug
          }) |
          @Html.ActionLink("Delete", "Delete", "Admin", new
          {
            slug = item.Slug
          })
        </td>
      </tr>
    }
  </tbody>
</table>