@model IEnumerable<Location>

@section Title { Location List }

@section Header {
  <h1>@Html.ActionLink("Admin", "Index", "Admin") > Locations</h1>
}

<p class="error-label">
  @if (null != ViewBag.Message)
  {
    @ViewBag.Message
  }
</p>

<p>
  <a class="button-primary"
     asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr id="@item.Slug">
        <td>@item.Name</td>
        <td>
          @Html.ActionLink("Edit", "Edit", "Location", new
          {
            slug = item.Slug
          }) |
          @Html.ActionLink("Delete", "Delete", "Location", new
          {
            slug = item.Slug
          })
        </td>
      </tr>
    }
    @if (Model.Count() == 0)
    {
      <tr>
        <td colspan="2">
          <div class="empty-list-label">There are no Locations.</div>
        </td>
      </tr>
    }
  </tbody>
</table>