@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExpenseApp.Models.DB.ExpenseForm
@{
  Layout = "_Layout";
}

@section Title { New Expense Form }

@section Header {
  <h1>Skill-Up Expense Report</h1>
}

<form asp-action="Create">
  
  @Html.AntiForgeryToken()
  
  <div class="input-validation-error grid-item" 
       asp-validation-summary="All"></div>
  
  <div class="grid-container">
    <!-- Title -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="Title"></label>
      <input class="input-field" 
            type="text" 
            asp-for="Title" />
      <span class="error-label" 
            asp-validation-for="Title"></span>
    </div>
    
    <!-- Purpose -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="Purpose"></label>
      <input class="input-field"
            type="text" 
            asp-for="Purpose" />
      <span class="error-label" 
            asp-validation-for="Purpose"></span>
    </div>
    
    <!-- Statement Number -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="StatementNumber"></label>
      <input class="input-field" 
            type="text" 
            asp-for="StatementNumber" 
            readonly />
    </div>
    
    <!-- Period -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="From"></label>
      <input class="input-field" 
            type="date"
            asp-for="From" />
      <span class="error-label" 
            asp-validation-for="From"></span>
    </div>
  </div>
    <h2>Consultant Information</h2>
    
  <div class="grid-container">
    <!-- Name -->
    <div class="input-container grid-item">
      <label asp-for="Employee.Name"></label>
      <input type="text" 
            asp-for="Employee.Name" 
            class="input-field" 
            readonly/>
    </div>
    
    <!-- Project -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="Project"></label>
      <input type="text"
            asp-for="Project" 
            class="input-field" 
            placeholder="CLIENT-PROJECT" />
      <span asp-validation-for="Project" 
            class="error-label"></span>
    </div>
    
    <!-- Location -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="Employee.Location"></label>
      <input type="text"
            asp-for="Employee.Location" 
            class="input-field" 
            readonly/>
    </div>
    
    <!-- Approver -->
    <div class="input-container grid-item">
      <label class="label" 
            asp-for="Employee.Approver.Name"></label>
      <input type="text"
            asp-for="Employee.Approver.Name" 
            class="input-field" 
            readonly />
    </div>
  </div>
  
  <h2>All Expense Claims</h2>
  
  <!-- Expense Claim Table -->
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Description</th>
      <th>Hotel</th>
      <th>Transport</th>
      <th>Fuel</th>
      <th>Meals</th>
      <th>Phone</th>
      <th>Entertainment</th>
      <th>Misc.</th>
      <th>Total</th>
      <th>Receipt</th>
    </tr>
    @foreach (var entry in Model.Entries)
    {
      <tr>
        <td>
          <input class="input-field"
                 type="date"
                 asp-for="@entry.Date">
        </td>
        <td>
          <select class="input-field"
                  asp-for="@entry.Account"
                  asp-items="@{new SelectList(typeof(ExpenseApp.Models.DB.Account).GetProperties())}"></select>
        </td>
        <td>@entry.Description</td>
        <td>@entry.Hotel</td>
        <td>@entry.Transport</td>
        <td>@entry.Fuel</td>
        <td>@entry.Meals</td>
        <td>@entry.Phone</td>
        <td>@entry.Entertainment</td>
        <td>@entry.Misc</td>
        <td>@entry.Total</td>
        <td>
          <input type="checkbox"
                 checked="@(entry.ReceiptId != null)">
        </td>
      </tr>
    }
  </table>
  
  <!-- Comment -->
  <div class="input-container">
    <label class="label" 
           asp-for="Comment"></label>
    <input type="text"
           asp-for="Comment" 
           class="input-field" />
    <span asp-validation-for="Comment" 
          class="error-label"></span>
  </div>
  
</form>