@model ExpenseForm

@section Title { Edit Expense Form }

@section Header {
  <h1>Skill-Up Expense Report</h1>
}

<h4>Edit Expense Report</h4>
<hr />
<form asp-controller="Form"
      asp-action="Edit">

  @Html.AntiForgeryToken()

  <p class="error-label">
    @if (null != ViewBag.Message)
    {
      @ViewBag.Message
    }
  </p>

  <div class="error-label"
       asp-validation-summary="All"></div>

  <div class="grid-container">

    <!-- Title -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="Title"></label>
      <input class="input-field"
             asp-for="Title"
             type="text" />
      @if (ViewBag.ShowErrors)
      {
        <span class="error-label"
              asp-validation-for="Title"></span>
      }
    </div>

    <!-- Purpose -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="Purpose"></label>
      <input class="input-field"
             asp-for="Purpose"
             type="text" />
      @if (ViewBag.ShowErrors)
      {
        <span class="error-label"
              asp-validation-for="Purpose"></span>
      }
    </div>

    <!-- Statement Number -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="StatementNumber"></label>
      <input id="statement-number-field"
             class="input-field"
             asp-for="StatementNumber"
             type="text"
             readonly />
    </div>

    <!-- Period -->
    <div class="input-container grid-item">
      <div class="grid-container">
        <div class="input-container grid-item">
          <label class="label"
                 asp-for="From"></label>
          <input id="from-field"
                 class="input-field"
                 asp-for="From"
                 type="date" />
          @if (ViewBag.ShowErrors)
          {
            <span class="error-label"
                  asp-validation-for="From"></span>
          }
        </div>

        <div class="input-container grid-item">
          <label class="label"
                 asp-for="To"></label>
          <input class="input-field"
                 asp-for="To"
                 type="date" />
          @if (ViewBag.ShowErrors)
          {
            <span class="error-label"
                  asp-validation-for="To"></span>
          }
        </div>
      </div>
    </div>
  </div>

  <h2>Consultant Information</h2>

  <div class="grid-container">

    <!-- Name -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="Employee.FullName">Name</label>
      <input class="input-field"
             asp-for="Employee.FullName"
             type="text"
             readonly />
    </div>

    <!-- Project -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="Project"></label>
      <input id="project-field"
             class="input-field"
             asp-for="Project"
             type="text"
             placeholder="CLIENT-PROJECT" />
      @if (ViewBag.ShowErrors)
      {
        <span class="error-label"
              asp-validation-for="Project"></span>
      }
    </div>

    <!-- Location -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="Employee.Location.Name"></label>
      <input class="input-field"
             asp-for="Employee.Location.Name"
             type="text"
             readonly />
    </div>

    <!-- Approver -->
    <div class="input-container grid-item">
      <label class="label"
             asp-for="Employee.Approver.FullName"></label>
      @if (Model.Employee.IsAnApprover)
      {
        <input class="input-field"
               type="text"
               value="@Model.Employee.FullName"
               readonly />
      }
      else
      {
        <input class="input-field"
               asp-for="Employee.Approver.FullName"
               type="text"
               readonly />
      }
    </div>
  </div>

  <h2>All Expense Claims</h2>

  <p>
    <input class="button-primary"
           name="Command"
           type="submit"
           value="Create New Entry" />
  </p>

  <!-- Expense Claim Table -->
  <table id="expense-entry-table"
         class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Account</th>
        <th>Description</th>
        <th>Hotel</th>
        <th>Transport</th>
        <th>Fuel</th>
        <th>Meals</th>
        <th>Phone</th>
        <th>Entertainment</th>
        <th>Misc.</th>
        <th>Total</th>
        <th>Receipt</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (int i = 0; i < Model.Entries.Count(); i++)
      {
        <tr>
          <td>
            @Html.HiddenFor(model => model.Entries[i].Date)

            @Model.Entries[i].Date.ToShortDateString()
          </td>
          <td>
            @Html.HiddenFor(model => model.Entries[i].Account.Name)

            @Model.Entries[i].Account.Name
          </td>
          <td>
            @Html.HiddenFor(model => model.Entries[i].Description)

            @Model.Entries[i].Description
          </td>
          <td>@Model.Entries[i].Hotel</td>
          <td>@Model.Entries[i].Transport</td>
          <td>@Model.Entries[i].Fuel</td>
          <td>@Model.Entries[i].Meals</td>
          <td>@Model.Entries[i].Phone</td>
          <td>@Model.Entries[i].Entertainment</td>
          <td>@Model.Entries[i].Misc</td>
          <td>@Model.Entries[i].Total</td>
          <td>
            <input type="checkbox"
                   checked="@(Model.Entries[i].Receipt != null)"
                   disabled>
          </td>
          @Html.HiddenFor(model => model.Entries[i].Receipt)
          @Html.HiddenFor(model => model.Entries[i].Cost)
          <td>
            @Html.ActionLink("Edit", "Edit", "Entry", new
            {
                statementNumber = ViewBag.StatementNumber,
                id = Model.Entries[i].Id
            }) |
            @if (Model.Entries[i].Receipt != null)
            {
              @Html.ActionLink("See Image", "Details", "Entry", new
              {
                statementNumber = ViewBag.StatementNumber,
                id = Model.Entries[i].Id,
                returnUrl = "/form/edit/" + ViewBag.StatementNumber
              })
              <span> | </span>
            }
            @Html.ActionLink("Delete", "Delete", "Entry", new
            {
                statementNumber = ViewBag.StatementNumber,
                id = Model.Entries[i].Id
            })
          </td>
        </tr>
      }
      @if (Model.Entries.Count() == 0)
      {
        <tr>
          <td colspan="13">
            <div class="empty-list-label">There are no Expense Entries.</div>
          </td>
        </tr>
      }
      else
      {
        <tr>
          <td class="table-header"
              colspan="3">
            Total
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Hotel)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Transport)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Fuel)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Meals)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Phone)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Entertainment)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Misc)
          </td>
          <td>
            @Model.Entries.Sum(ee => ee.Total)
          </td>
          <td class="table-header"
              colspan="2"></td>
        </tr>
      }
    </tbody>
  </table>

  <!-- Comment -->
  <div class="textarea-container">
    <label class="label"
           asp-for="Comment"></label>
    <textarea class="input-field textarea-field multiline"
              asp-for="Comment"></textarea>
    @if (ViewBag.ShowErrors)
    {
      <span class="error-label"
            asp-validation-for="Comment"></span>
    }
  </div>

  <div class="button-group">
    <a class="button-cancel"
       href="@Url.Action("Index", "Form")">Cancel</a>
    <input class="button-secondary"
           name="Command"
           type="submit"
           value="Save" />
    <input class="button-primary"
           name="Command"
           type="submit"
           value="Submit" />
  </div>

</form>