@model ExpenseApp.Models.DB.ExpenseEntry

@section Title { Expense Claim Delete }

@section Header {
  <h1>Delete Expense Claim</h1>
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  <h4>Expense Claim</h4>
  <hr />
  <dl>
    <dt>
      @Html.DisplayNameFor(model => model.Date):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Date)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Account.Name):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Account.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Description):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Hotel):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Hotel)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Transport):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Transport)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Fuel):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Fuel)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Meals):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Meals)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Phone):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Phone)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Entertainment):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Entertainment)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Misc):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Misc)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Total):
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Total)
    </dd>

    <dt>
      Receipt:
    </dt>
    <dd>
      @Html.ActionLink("Image", "Details", "Entry", new
      {
          statementNumber = ViewBag.StatementNumber,
          id = Model.Id,
          returnUrl = string.Format("/form/edit/{0}/entry/delete/{1}", ViewBag.StatementNumber, Model.Id)
      })
    </dd>
  </dl>

  <form asp-controller="Entry"
        asp-action="Delete">
    @Html.HiddenFor(model => model.Id)

    <div class="button-group">
      <a class="button-secondary"
         href="@Url.Action("Edit", "Form", new
               {
                   statementNumber = ViewBag.StatementNumber
               })">Cancel</a>
      <button class="button-primary"
              type="submit">
        Delete
      </button>
    </div>
  </form>
</div>