@model ExpenseApp.ViewModels.ApproverEditViewModel

@section Title { Employee Edit }

@section Header {
  <h1>@Html.ActionLink("Admin", "Index", "Admin") > @Html.ActionLink("Employees", "List", "Approver") > Edit Employee</h1>
}

<h4>Employee</h4>
<hr />
<form asp-controller="Approver"
      asp-action="Edit">
  <div class="error-label"
       asp-validation-summary="ModelOnly"></div>

  <p>
    In order to change this employee's Approver Status, another Approver has to
    be @(Model.RemovingApproverStatus ? "added" : "removed").
  </p>

  <div class="input-container field-group">
    <label class="label">
      Approver being @(Model.RemovingApproverStatus ? "Removed" : "Added")
    </label>
    @if (Model.RemovingApproverStatus)
    {
      <input class="input-field"
             asp-for="ApproverRemoved.FullName"
             type="text"
             readonly />

      @Html.HiddenFor(model => model.ApproverRemoved.Id)
    }
    else
    {
      <input class="input-field"
             asp-for="ApproverAdded.FullName"
             type="text"
             readonly />

      @Html.HiddenFor(model => model.ApproverAdded.Id)
    }
  </div>

  <div class="input-container field-group">
    <label class="label">
      Approver being @(Model.RemovingApproverStatus ? "Added" : "Removed")
    </label>
    @if (Model.RemovingApproverStatus)
    {
      <select asp-for="ApproverAdded.Id"
              asp-items="@{new SelectList(Model.PossibleReplacements, "Id", "FullName")}"></select>

      <span class="error-label"
            asp-validation-for="ApproverAdded.Id"></span>
    }
    else
    {
      <input class="input-field"
             asp-for="ApproverRemoved.FullName"
             type="text"
             readonly />

      <span class="error-label"
            asp-validation-for="ApproverRemoved.Id"></span>

      @Html.HiddenFor(model => model.ApproverRemoved.Id)
    }
  </div>

  <div class="button-group">
    <a class="button-secondary"
       href="@Url.Action("List", "Approver")">Cancel</a>
    <button class="button-primary"
            type="submit">
      Save
    </button>
  </div>

</form>